
.title-box{
    display: flex;
    flex-direction: row;
}

.title-box img{
    height: 4.5rem;
    width: 4.5rem;
}

.game-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.game-container > * {
    padding: 1rem;
}

.turn-box{
    display: flex;
    flex-direction: column;
}

.turn-box img{
    height: 4.5rem;
    width: 4.5rem;
}

.game-matrix td{
    height: 1rem;
    width: 1rem;
    padding: 1rem;
    text-align: center;
}

.game-matrix img{
    height: 2.5rem;
    width: 2.5rem;
}

.game-container #reset-game-container{
    flex: none;
}

.reset-full-game{
    align-content: center;
}

.turn-box :not(.active-indicator){
    padding: 0.5rem;
}

.active-indicator{
    border: 0.5rem rgb(53, 160, 254);
    border-style: solid;
    border-radius: 0.25rem;
}